[tool.poetry]
name = "mlconfig"
version = "0.2.2"
description = ""
authors = ["narumi <toucans-cutouts0f@icloud.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
omegaconf = "^2.3.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
pytest-cov = "^5.0.0"
ruff = "^0.6.2"
toml = "^0.10.2"
mypy = "^1.11.2"


[tool.poetry.group.mypy.dependencies]
types-pyyaml = "^6.0.12.20240808"
types-pygments = "^2.18.0.20240506"
types-colorama = "^0.4.15.20240311"
types-setuptools = "^73.0.0.20240822"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = ["build"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C",   # flake8-comprehensions
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "SIM", # flake8-simplify
    "UP",  # pyupgrade
    "W",   # pycodestyle warnings
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.lint.isort]
force-single-line = true

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.mypy]
ignore_missing_imports = true
