name: Lint

on:
  push:
    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Upgrade pip
        run: pip install -U pip
      - name: Install Flake8
        run: pip install -U flake8
      - name: Lint
        run: flake8 --verbose mlconfig
